<mat-toolbar style="background-color: lightblue">
  <span>Flight Comment Admin</span>
  <button mat-raised-button style="margin-left: auto" (click)="newComment()">Create Comment</button>
</mat-toolbar>
<div>
  <div class="left-panel">
    <mat-card>
      <mat-list>
        <button mat-list-item (click)="selectedFlight(null)">Show All</button>
        <div mat-ripple *ngFor="let flightID of distinctFlightIDs">
          <button mat-list-item (click)="selectedFlight(flightID)">{{flightID}}</button>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div class="data-table-container">
    <mat-card>
      <table matSort (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="_id">ID</th>
          <th mat-sort-header="UserId">User</th>
          <th mat-sort-header="comment">Comment</th>
          <th mat-sort-header="date">Date</th>
          <th mat-sort-header="Tags">Tags</th>
        </tr>

        <tr *ngFor="let comment of shownComments">
          <td>{{comment._id}}</td>
          <td>{{comment.UserId}}</td>
          <td>{{comment.comment}}</td>
          <td>{{comment.date}}</td>
          <td>
            <mat-chip-list>
              <mat-chip *ngFor="let tag of comment.Tags">{{tag}}</mat-chip>
            </mat-chip-list>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
