.left-panel {
  width: fit-content;
  float: left;
  margin: 2% 2% 0 2%;
}

.data-table-container {
  width: fit-content;
  float: left;
  margin: 2% 5% 0 0;
}

.main-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 100%;
}

.message {
  margin-top: 5%;
}
