<mat-toolbar style="background-color: lightblue">
  <span>Flight Comment Admin</span>
  <button mat-raised-button style="margin-left: auto" (click)="newComment()">Create Comment</button>
</mat-toolbar>
<div class="main-container" *ngIf="shownComments.length > 0">
  <div class="left-panel">
    <mat-card class="mat-elevation-z8">
      <mat-list>
        <button mat-list-item (click)="selectedFlight(null)">Show All</button>
        <div mat-ripple *ngFor="let flightID of distinctFlightIDs">
          <button mat-list-item (click)="selectedFlight(flightID)">{{flightID}}</button>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div *ngIf="shownComments" class="data-table-container; mat-elevation-z8">
    <table mat-table [dataSource]="shownComments.slice(skip, skip + limit)" matSort (matSortChange)="sortData($event)">

      <!-- Comment ID Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <!-- User ID Column -->
      <ng-container matColumnDef="UserId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
        <td mat-cell *matCellDef="let element"> {{element.UserId}} </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yy\nhh:mm:ss'}} </td>
      </ng-container>

      <!-- Tags Column -->
      <ng-container matColumnDef="Tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tags</th>
        <td mat-cell *matCellDef="let comment">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of comment.Tags">{{tag}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      #paginator
      (page)="pageEvent($event)"
      [length]="shownComments.length"
      [pageSize]="limit"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div class="main-container" *ngIf="getCommentsLength() <= 0">
  <mat-card class="message">
    No Comments yet.
    Create your first comment by clicking on the top right button.
  </mat-card>
</div>
